# Ignore node_modules directory
/node_modules/

# Ignore generated build or output folders
/dist/
/build/
/out/

# Ignore log and temporary files
/logs/
/temp/

# Ignore IDE and editor-specific files
.idea/
.vscode/
.DS_Store

# Ignore npm-debug.log files
npm-debug.log*

# Ignore .env files with sensitive information
.env
.env.local
.env.*.local


